<div class="Gloss-notification--line">
  <span class="Gloss-notification--flex">
    <img src="https://imageserver.eveonline.com/Type/{{dominantShipType.id}}_64.png" class="Gloss-notification--image" />

    <span>
      <strong>{{dominantFaction.name}} ({{model.characters.length}})</strong>
      <br>
      <span class="Gloss-notification--subjectContext">
        {{model.kills.firstObject.positionName}}
      </span>
      <span class="Gloss-notification--time">
        <span>Last seen {{moment-from-now model.lastSeen interval=1000}}</span>
      </span>
    </span>
  </span>
</div>
