<div class="Gloss-notification--line">
  <span class="Gloss-notification--flex">
    <img src={{shipImageUrl}} class="Gloss-notification--image" />

    <span>
      <strong>{{model.victim.name}}</strong>
      <br>
      <span class="Gloss-notification--subjectContext">
        {{model.ship.name}}
      </span>
      <span class="Gloss-notification--time">
        <span>{{moment-from-now model.time interval=1000 hideSuffix=true}}</span>
        <span>/ {{model.positionName}}</span>
      </span>
    </span>
  </span>
</div>
