<div class="Gloss-notification--line">
  <span class="Gloss-notification--subject">
    {{model.victim.name}}
  </span>

  <span class="Gloss-notification--subjectContext">
    {{model.ship.name}}
  </span>
</div>

<div class="Gloss-notification--line">
  <span class="Gloss-notification--message">
    {{model.message}}
  </span>

  <span class="Gloss-notification--messageContext">
    {{model.messageContext}}
  </span>
</div>

<div class="Gloss-notification--line">
  <span class="Gloss-notification--time">
    Destroyed {{from-now model.time}}
  </span>

  {{!-- <span class="Gloss-notification--system">
    {{model.systemName}}
  </span> --}}
</div>
