<div class="background" style={{backgroundImage}}></div>

<div class="image">
  <img src={{threatImageUrl}}>
</div>

<div class="content">
  <div class="header">
    {{dominantFaction.name}}
  </div>

  <div class="meta">
    <span title="Pilots">
      <i class="user icon"></i>
      {{model.characters.length}}
    </span>

    <span title="Kills">
      <i class="space shuttle icon" title="Kills"></i>
      {{model.kills.length}}
    </span>

    <span title="Threat Level">
      <i class="exclamation triangle icon"></i>
      {{threat-level model.dangerRatio}}
    </span>
  </div>

  <div class="description">
    <p>{{dominantShipType.count}} {{dominantShipType.name}} {{#if otherShipCount}} + {{otherShipCount}} others {{/if}}</p>

    <small>{{moment-from-now model.lastSeen interval=1000}}</small>
  </div>

</div>
