<div class="Gloss-notification--line">
  <span class="Gloss-notification--flex">
    <img src={{shipImageUrl}} class="Gloss-notification--image" />

    <span>
      <strong>{{model.victim.name}}</strong>
      <br>
      <span class="Gloss-notification--subjectContext">
        {{model.ship.name}}
      </span>
      <span class="Gloss-notification--time">
        <strong>{{model.positionName}}</strong> {{moment-from-now model.time interval=1000}}
      </span>
    </span>
  </span>
</div>
