{{#if selectedRegion}}

  {{gloss-map-universe
    regions=regions
    systems=systems
    fleets=fleets
    selectedRegion=selectedRegion
    selectRegion=(action 'selectRegion')
    }}

    <div class="Gloss-sidebar Gloss-sidebar--map Gloss-sidebar--shown">
      <div class="Gloss-notifier Gloss-module">
        <div class="Gloss-stream Gloss-scroller">
          <div class="Gloss-notification--line">
            <span class="Gloss-notification--flex">
              <span>
                <strong>
                  {{#if fleetDisplay.length}}
                    Active fleets in {{selectedRegion.name}}
                  {{else if fleets.length}}
                    No recent fleet activity.
                  {{else}}
                    Waiting for fleet data...
                  {{/if}}
                </strong>
                <br>
              </span>
            </span>
          </div>

          {{#each (sort-by 'lastSeen:desc' fleetDisplay) as |fleet|}}
            {{#if fleet.characters.length}}
              {{gloss-threat-map
                fleet=fleet
                selectFleet=(action 'selectFleet')
                }}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

{{else}}

  {{#if (and regions regions.length)}}

    {{gloss-map-regions
      regions=(sort-by 'name' regions)
      fleets=fleets
      kills=kills
      selectRegion=(action 'selectRegion')
      }}

  {{else}}

    <div class="ui active inverted text loader">
      Loading regions
    </div>

  {{/if}}

{{/if}}
