<div class="Gloss-module Gloss-module--y Gloss-hud">
  {{gloss-stats
    system=system
    loadUiElements=loadUiElements
    }}

  <div class="Gloss-viewport">
    {{#liquid-if loadUiElements class="ui-fade-9"}}
      <div class="Gloss-module Gloss-module--x Gloss-flex--wrap Gloss-flex--start">

        <div class="Gloss-module Gloss-module--y Gloss-flex--start Gloss-flex--3 Gloss-analysis">

          <div class="Gloss-module Gloss-module--x Gloss-flex--end">
            {{#link-to 'navigate.index' class='Gloss-button Gloss-button--small Gloss-flex--1'}}Local{{/link-to}}

            {{#link-to 'navigate.tracker' class='Gloss-button Gloss-button--small Gloss-flex--1'}}Tracker{{/link-to}}
          </div> 

          {{outlet}}

        </div>

        <div class="Gloss-module Gloss-module--y Gloss-flex--start">
          <div class="Gloss-notifier Gloss-module">
            <div class="Gloss-stream Gloss-scroller">
              {{#liquid-if loadNotifications class="ui-fade"}}
                {{#each (sort-by 'time:desc' kills) as |notification|}}
                  {{gloss-notification
                    model=notification}}
                {{else}}
                  <p>No conflict reported in system.</p>
                {{/each}}
              {{/liquid-if}}
            </div>
          </div>
        </div>
      </div>
    {{/liquid-if}}
  </div>

  <div class="Gloss-module Gloss-module--x Gloss-flex--end">
    {{gloss-shard
      label=character.name
      loaded=loadUiElements
      loadOrder=5
      align="left"
      }}

    {{gloss-shard
      label=(if character.online 'online' 'offline')
      loaded=loadUiElements
      loadOrder=6
      align="right"
      }}
  </div>
</div>
