<div class="Gloss-module Gloss-module--y Gloss-hud">
  <div class="Gloss-module Gloss-module--x Gloss-flex--start">
    {{gloss-shard
      label="Jumps"
      value=system.shipJumps
      loaded=loadUiElements
      loadOrder=2
      }}

    {{gloss-shard
      label="Kills"
      value=system.shipKills
      loaded=loadUiElements
      loadOrder=1
      }}

    {{gloss-shard
      label="System"
      value=system.name
      loaded=loadUiElements
      loadOrder=0
      primary=true
      }}

    {{gloss-shard
      label="Capsules"
      value=system.podKills
      loaded=loadUiElements
      loadOrder=1
      }}

    {{gloss-shard
      label="NPC"
      value=system.npcKills
      loaded=loadUiElements
      loadOrder=2
      }}
  </div>

  <div class="Gloss-viewport">
    {{#liquid-if loadUiElements class="ui-fade-9"}}
      <div class="Gloss-module Gloss-module--x Gloss-flex--start">
        <div class="Gloss-module Gloss-module--y Gloss-flex--start Gloss-flex--wrap Gloss-flex--4">
          {{gloss-shard
            value="Threats"
            loaded=true
            align="left"}}

          <div class="Gloss-notifier Gloss-module">
            {{#each threats as |notification|}}
              {{#liquid-if notification class="ui-slide-from-top" shrinkDelay=500}}
                {{gloss-threat
                  model=notification}}
              {{/liquid-if}}
            {{else}}
              <p>No threats assessed in {{location.system.name}}.</p>
            {{/each}}
          </div>
          {{!-- <p>No active threats detected in {{location.system.name}}.</p> --}}
        </div>

        <div class="Gloss-module Gloss-module--y Gloss-flex--start">
          {{gloss-shard
            value="Conflict"
            loaded=true
            align="left"}}

          <div class="Gloss-notifier Gloss-module">
            {{#each stream as |notification|}}
              {{#liquid-if notification class="ui-slide-from-top" shrinkDelay=500}}
                {{gloss-notification
                  model=notification}}
              {{/liquid-if}}
            {{else}}
              <p>No conflict reported on your route.</p>
            {{/each}}
          </div>
        </div>
      </div>
    {{/liquid-if}}
  </div>

  <div class="Gloss-module Gloss-module--x Gloss-flex--end">
    {{gloss-shard
      label="Ship"
      value=character.ship.name
      loaded=loadUiElements
      loadOrder=6
      }}

    {{gloss-shard
      label="Commander"
      value=character.name
      loaded=loadUiElements
      loadOrder=5
      primary=true
      }}

    {{gloss-shard
      label="Status"
      value=(if character.online 'Online' 'Offline')
      loaded=loadUiElements
      loadOrder=6
      }}
  </div>
</div>
