<div class="Gloss-module Gloss-module--y Gloss-hud">
  <div class="Gloss-module Gloss-module--x Gloss-flex--start">
    {{gloss-shard
      label="Jumps"
      value=system.shipJumps
      loaded=loadUiElements
      loadOrder=2
      }}

    {{gloss-shard
      label="Kills"
      value=system.shipKills
      loaded=loadUiElements
      loadOrder=1
      }}

    {{gloss-shard
      label="System"
      value=system.name
      loaded=loadUiElements
      loadOrder=0
      primary=true
      }}

    {{gloss-shard
      label="Capsules"
      value=system.podKills
      loaded=loadUiElements
      loadOrder=1
      }}

    {{gloss-shard
      label="NPC"
      value=system.npcKills
      loaded=loadUiElements
      loadOrder=2
      }}
  </div>

  {{#liquid-if showWelcomeMessage class="ui-fade-0" shrinkDelay=500}}
    <div class="Gloss-module">
      {{gloss-message
        header=messageHeader
        subheader=messageSubheader}}
    </div>
  {{else}}
    <div class="Gloss-module">
      <div class="Gloss-notifier">
        {{#each stream as |notification|}}
          {{#liquid-unless notification.isRead class="ui-scale" shrinkDelay=500}}
            {{gloss-notification
              model=notification}}
          {{/liquid-unless}}
        {{/each}}
      </div>
    </div>
  {{/liquid-if}}

  <div class="Gloss-module Gloss-module--x Gloss-flex--end">
    {{gloss-shard
      label="Ship"
      value=character.ship.name
      loaded=loadUiElements
      loadOrder=5
      }}

    {{gloss-shard
      label="Status"
      value=(if character.online 'Online' 'Offline')
      loaded=loadUiElements
      loadOrder=6
      }}
  </div>
</div>
