{{gloss-threat-display
  selectedFleet=selectedFleet
  toggleTracking=(action 'toggleTracking')
  }}

{{gloss-about-display}}

<div class="Gloss">
  {{gloss-stats
    fleets=fleets
    kills=kills
    loadUiElements=loadUiElements
    isConnected=isConnected
    }}

  <div class="ui grid">
    <div class="three column row no-gutter p0 mt2 mb1">
      <div class="column">
        {{#link-to 'navigate.index' class='Gloss-button Gloss-button--small'}}
          {{if region.name region.name 'Your Location'}} <span class="Gloss-button--detail">{{nearbyFleets.length}}</span>
        {{/link-to}}
      </div>

      <div class="column">
        {{#link-to 'navigate.tracker' class='Gloss-button Gloss-button--small'}}
          Tracker <span class="Gloss-button--detail">{{trackerFleets.length}}</span>
        {{/link-to}}
      </div>

      <div class="column">
        <a class="Gloss-button Gloss-button--small {{if showKillStream 'active'}}" {{action 'toggleKillStream' this}}>
          Kills

          <span class="Gloss-button--detail">
            {{kills.length}}
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="Gloss-viewport {{if showKillStream 'Gloss-viewport--reduced'}}">
    {{#unless (and loadIntel (or nearbyFleets (eq nearbyFleets.length 0)))}}
      <div class="ui active inverted text loader">Connecting to Sentinel</div>
    {{/unless}}

    {{#liquid-if loadIntel class="ui-fade"}}
        <div class="ui grid padded">
          <div class="row">
            {{outlet}}
          </div>
        </div>
    {{/liquid-if}}
  </div>

  <div class="Gloss-sidebar {{if showKillStream 'Gloss-sidebar--shown'}}">
    <div class="Gloss-notifier Gloss-module">
      <div class="Gloss-stream Gloss-scroller">
        {{#liquid-if loadIntel class="ui-fade"}}
          {{#each killsRenderable as |notification|}}
            {{gloss-notification
              model=notification
              context=context
              }}
          {{/each}}

          {{#if (not-eq killsRenderable.length kills.length)}}
            <small>In the interest of performance, only the last 500 kills are shown.</small>
          {{/if}}
        {{/liquid-if}}
      </div>
    </div>
  </div>

  <div class="Gloss-navigation Gloss-module Gloss-module--x Gloss-flex--end Gloss-fixed Gloss-fixed--bottom">
    {{gloss-shard
      label=(app-version hideSha=true)
      loaded=loadUiElements
      loadOrder=5
      align="left"
      }}

    {{gloss-nav-switch
      loaded=loadUiElements
      loadOrder=6
      }}

    {{gloss-shard
      label=character.name
      loaded=loadUiElements
      loadOrder=7
      align="right"
      }}
  </div>
</div>
