<div class="message">
  {{#if character.name}}
    <h3>Link established. Welcome, {{character.name}}.</h3>
    <p>
      <span>{{character.ship.name}}</span> /
      <span>{{character.system.name}}</span> /
      <span class="{{if character.online 'green' 'red' }}">{{if character.online 'Online' 'Offline'}}</span>
    </p>
  {{else}}
    <h3>Receiving...</h3>
  {{/if}}
</div>
